*.class
*.log

# sbt specific
.cache
.classpath
.target
dist/*
target/
lib_managed/
src_managed/
project/boot/
projget/project
project/target
project/plugins/project/
logs

# Scala-IDE specific
.scala_dependencies
.project
.settings
.cache-main
.cache-tests
bin

# IntelliJ IDEA specific
.idea

/RUNNING_PID
.DS_Store

