@CHARSET "UTF-8";

body{
	margin: 0px;
	padding: 0px;
	/*background-color: #EAEFEF;*/
	font-family: 'helvetica', sans-serif;
	font-size: 12px;
}

h1{
	font-family: 'helvetica', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

h2{
	font-family: 'helvetica', sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

p{
	margin-top: 1.2em;
}

fieldset { padding:0; border:0; margin-top:25px; }

label, input {
	display: block;
}

input.text { margin-bottom:12px; width:95%; padding: .4em; }

textarea.text { margin-bottom:12px; width:95%; height: 200px; padding: .4em; }

table.text { margin-bottom:12px; width:95%; padding: .4em; }

#container{
	width: 850px;
	margin: 0px auto;
	padding: 5px;
	background-color: white;
}

#header{
	width: 850px;
	margin: 10px auto;
	padding-bottom: 20px;
	/*text-align: center;*/
}
#header-menu{
	width: 850px;
	margin: 0px auto;
	border-bottom: 0px;
	padding-bottom: 10px;
	/*text-align: center;*/
}

#content{
	padding-top: 20px;
	border-top: 8px solid red;
	width: 850px;
	clear: both;
	margin: 0px auto;
}

#container{
	width: 850px;	
}

#footer{
	width: 850px;
	clear: both;
	/*margin: 0px auto;*/
	margin: 100px auto 10px auto;
	border-top: 1px solid grey;
	padding-top: 5px;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }

.message{
  font-family: 'helvetica', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: red;
  line-height: 30px;
  margin: 0px auto 0px auto;
}

.footerText{
	font-size: x-small;
	text-transform: uppercase;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.imgBox {
  margin: 5px;
  padding: 5px;
  background: #D8D5D2;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.col3 { width: 280px; }

/***********PROJECT SPECIFIC*****************************/
.selectedImage{
	background: red;
	color: white;
}
.deslectedImage{
	
}

.projectDesc{
	width: 550px;
	margin-bottom: 30px;
}
.personDesc{
	width: 400px;
	line-height: 1.3em;
	margin-bottom: 40px;
}

.projectTable{
	width: 850px;
}

.personProjectTable{
	width: 600px;	
}

.projectImage{
	max-width: 550px;
}
.projectImageSmall{
	width: 200px;
}
.projectImageXSmall{
	width: 64px;
}

.projectImageDesc2{
	/*text-align: justify;*/
	padding-left: 20px;
	hyphens: auto; 

.projectImageDesc{
	padding-left: 60px;
	text-align: justify;
}

tr.projectTD > td{
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}