@CHARSET "UTF-8";

body{
	margin: 0px;
	padding: 0px;
	/*background-color: #EAEFEF;*/
	font-family: 'helvetica', sans-serif;
}

#container{
	width: 800px;
	margin: 0px auto;
	padding: 5px;
	background-color: white;
}

#header{
	width: 880px;
	margin: 10px auto;
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
	text-align: center;
}
#header-menu{
	width: 600px;
	margin: 0px auto;
	border-bottom: 0px;
	padding-bottom: 80px;
	text-align: center;
}

#content{
	width: 600px;
	clear: both;
	margin: 0px auto;
}

