@(imgs: Seq[Img], p: Person)(implicit person: Option[Person])



<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-full-screen="true" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="links">
@for(img <- imgs){
	<a href='@routes.Application.origImage(p.id.get, img.id.get)' title='@img.name' data-gallery>
		<img src='@routes.Application.rawThumb(p.id.get, img.id.get)' alt='@img.name'>
	</a>
}
<script type="text/javascript" src='@routes.Assets.versioned("js/blueimp-gallery.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("js/jquery.blueimp-gallery.js")'></script>
<script type="text/javascript" src='@routes.Assets.versioned("js/bootstrap-image-gallery.js")'></script>
</div>

