@()(implicit person: Option[Person])

@sfx2("about", "index") {

<h2>Welcome</h2>

You have reached SouthOfX. First of all, lets just get the name cleared up. The name stands for
South of <a href="http://en.wikipedia.org/wiki/S%C3%B6dermalm">Södermalm</a>. Södermalm being one
of the major districts in central Stockholm SouthOfX marks the suburbs south of Södermalm. 
<p>
So is this a site about the southern parts of Stockholm? No, which is also obvious from its content.
SouthOfX simply marks where the people who created the site happened to live at the time
(and still do). Although, it should in all honesty be admitted that in the back of our minds we had
the intention to create something interesting for people living SouthOfX.
</p>
<p>
With the name sorted out lets get back to the site.As you might have guessed SouthOfX contains
portfolios.  
</p>

<div class="alert alert-warning">This is a construction site and not ready from prime time use</div>

}
